
body.bgrose{
    background-image: url("images/ROSEBG.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #FE0000;
    text-indent: 0;
    margin: 0;
    
}

body.bgrose:window-inactive {
    background-image: url("images/ROSEBGSAD.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #FE0000;
    text-indent: 0;
    margin: 0;
    
}